Version 12 
[x] Each todo should have its own edit button
[x] The edit buttons should actually work
[x] if someone hits cancel we sshould do nothing

Version 11 
[x] Each todo should have its own toggle button
[x] The toggle buttons should actually work

Version 10 
[x] Each todo should have its own remove button
[x] The remove buttons should actually work

Version 9 
[x] there should be an li for each todo
[x] Each li should show the todoText property.
[x] Each li should show the complited property.


Version 8
[x] there should be a working button for adding a todo
[x] there should be a working button for editing a todo
[x] there should be a working button for removing a todo
[x] there should be a working button for toggling a todo

Version 7 
[x] It should have a displayTodos button.
[x] The displayTodos button should run the displayTodos function.
[x] It should have a toggleAll button.
[x] The displayTodos button should run the toggleAll function.

Version 6
[x] It should have a function for toggling all todos.
[x] If everything is true ==> change everything to false
[x] If everything is false ==> change everything to true
[] If any ==> change everything to true

Version 5
[x] It should have a function for displaying todos
[x] displayTodos should show the todoText property.
[] displayTodos should show the complited property.
 
Version 4
[x] It Should have a funcition to toggle a todo

Version 3
[x] We should initialize the todos variables with objects
[x] The add function should add objects
[x] The edit function should edit objects

Version 2
[x] It should have a function to add todosz
[x] It should have a function to edit todos
[x] It should have a function to remove todos


Version 1 
[x] It should have a place to store todos
[x] It should have a way to display todos
[x] It should have a way to add a todo
[x] It should have a way to edit a todo
[x] It should have a way to remove a todo
